#full-body
{
  height: auto;
  border:1px solid black;
}
#head-first
{
  height: auto;
  /* border:1px solid black; */
}
#pre
{
  /* background-color: 	#00ffbf; */
  font-style: italic;
}
.support
{
  width: 20px;
  height: 20px;
  background-color: 	#0040ff;
}
#head-second
{
  height: auto;;
}
/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a{
  color: white;
}
/* Change Navigation Hover Color */
.navbar #myMenu .custom-nav .nav-item a:hover{
  background: #00cc00;
  font-weight: bold;

}

/* ============================== */
.sidenav
{
  height: auto;
  width: 200px;
    background-color:#ebebe0;
  padding-top: 100px;
  padding-bottom: 100px;
}
.sidenav a{
     padding: 6px 10px 10px 25px;
     display: block;
     text-decoration: none;
     color:#038525;
     font-size: 25px;
}
.sidenav a:hover{
  background: #00cc00;
}


/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

/* ======================= */
#platform-setting
{
    width: 100%;
    height: 400px;
    background: #006600;
    color: white;
    /* text-align: center; */
    padding-left: 50px;
    border-radius: 20px;
}
#platform-setting1
{
    width: 95%;
    height: 100px;
    background: #006600;
    color: white;
    /* text-align: center; */
    padding-left: 50px;
    border-radius: 20px;
}






#footer
{
  width: 100%;
  height: 150px;


}
/* ================= */

/* ================== */
