#full-body
{
  height: auto;
  border:2px solid black;
}
#head-first
{
  height: auto;
  /* border:1px solid black; */
}
#pre
{
  /* background-color: 	#00ffbf; */
  font-style: italic;
}
.support
{
  width: 20px;
  height: 20px;
  background-color: 	#0040ff;
}
#head-second
{
  height: auto;;
}
/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a{
  color: white;
}
/* Change Navigation Hover Color */
.navbar #myMenu .custom-nav .nav-item a:hover{
  background:#0d78a9;
  font-weight: bold;

}

/* ============================== */
.sidenav
{
  height: auto;
  width: 220px;
  background-color:#0d78a9;
  padding-top: 100px;
  padding-bottom: 100px;
}
.sidenav a{
     padding: 6px 10px 10px 25px;
     display: block;
     text-decoration: none;
     color:white;
     font-size: 25px;
}
.sidenav a:hover{
  background:#0d78a9;
}


/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

/* ======================= */
#platform-setting
{
    width: 100%;
    height: 400px;
    background:#0d78a9;
    color: white;
    /* text-align: center; */
    padding-left: 50px;
    /* border-radius: 20px; */
}
#platform-setting1
{
    width: 96%;
    height: 150px;
    background:#0d78a9;
    color: white;
    /* text-align: center; */
    padding-left: 50px;
    /* border-radius: 20px; */
    font-size: 20px;
}
#bulk_action
{
     width: 100%;
     height: 300px;
     background:#0d78a9;
     padding-left: 50px;
     /* border-radius: 20px; */
     font-size: 20px;
     color: white;
}
#activity-log
{
  width: 100%;
  height: 300px;
  background:#0d78a9;
  padding-left: 40px;
  /* border-radius: 20px; */
  font-size: 20px;
  color: white;
  padding-top: 50px;

}






#footer
{
  width: 100%;
  height: 150px;


}
/* ================= */

/* ================== */
